{% extends "base/layout.html"%}

{% block title %}
    Settings
{% endblock title %}

{% block header %}
    {% include "base/header.html" %}
{% endblock header %}


{% block main %}
<div class="container-md p-3 mt-5 justify-content-center text-secondary">
    {# Settings Header #}
    <div class="row mb-1 align-items-end">
        <div class="col">
            <h1 class="h3 mb-1 fw-bold"><i class="bi bi-gear-fill me-2"></i>Settings</h1>
        </div>
    </div>
    <hr class="mb-5 mt-0 border-primary">

    {# Flashed messages #}
    {% include "base/flashed_messages.html" %}

    <div class="row justify-content-center">
        <div class="col text-center">
            <h5>Reset Database</h5>
            <a href="{{ url_for('reset') }}" role="button" class="btn btn-lg btn-danger">Reset</a>
        </div>
        <div class="col text-center">
            <h5>Fill Database</h5>
            <a href="{{ url_for('fill') }}" role="button" class="btn btn-lg btn-primary">Fill</a>
        </div>
    </div>
    
</div>

{% endblock main %}

{% block footer %}
    {% include "base/footer.html" %}
{% endblock footer%}

